*{
   
    box-sizing: border-box;
}
/* Index.html Homepage CSS */
body{
    margin: 0;
    padding: 0;
   

}

main{
    padding:100px 0px 100px;
}

    /* Nav Custom */
nav{
    font-size:1em ;
    
}
a.navlink{
    padding: 10px;
}




/* this is the header section */
.showcase{
    font-family: 'Ubuntu', sans-serif;
    position: absolute;
    right: 0;
    width: 100%;
    height: 100vh;
    padding: 75px;
    display: flex;
    justify-content: space-between;
    align-items: center ;
    background:#111;
    color: white;
    z-index: 2;   /**Positioning**/
}


.showcase video{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit:cover;
    opacity: 0.8;

}

.subheading{
    position: relative;
    z-index: 3;
}
.subheading h2{
    font-size: 5em;
    font-weight: 800;
    line-height: 1em;

}
.subheading h3{

    font-size: 1.5em;
    font-weight: 700;
    line-height: 1em;

}

.subheading p{
    font-family: 'Montserrat', sans-serif;
    font-size: 1.1em;
    font-weight: 400;
    max-width: 700px;

}
.subheading a{
    display: inline-block;
    font-size: 1em;
    background: #00C2CB;
    box-shadow: 2px 2px 6px 0px rgba(230, 197, 197, 0.8);
    padding: 10px 30px;
    text-decoration: none;
    color: black;
    text-transform: uppercase;
    transition: 0.4s;
    
}

.subheading a:hover{
    background: rgb(180, 35, 35);
    color: blanchedalmond;
    letter-spacing: 10px;
}



.overlay{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #1772da ;
    mix-blend-mode: overlay;
}


footer{
    position: relative;
    bottom: 0;
    width: 100%;
    height: 50px;
    background-color: #2A2E30;
    color: darkgrey;
    text-align: center;
    
}


/* Gallery Webpage */
.container >.row{
   

}

.div-items{
    padding: 100px;
    
}
.gal-category{
    
   
    height: 600px;

    border-radius: 20px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    transition: 0.4s;
}
.gal-category:hover{
    letter-spacing: -3px;
   

}



.gal-category >h2{
    
    font-family: 'Ubuntu', sans-serif;
    font-size: 3em;
    text-shadow: 0px 2px 2px rgba(0, 0, 0, 0.8); 
    padding-top: 450px;
    color: rgb(255, 255, 255);
    
}

.web-titles{
    text-shadow: 0px 2px 2px rgba(0, 0, 0, 0.8); 
    color: rgb(255, 255, 255);
    font-size: 6em;
    font-weight: 750;
   
}


.gal-category:hover{
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.5), 0 6px 20px 0 rgba(73, 12, 12, 0.5);
    text-shadow: 0px 2px 2px rgba(107, 29, 29, 0.9); 
   
}
h1>gal-title{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 50px;
}
.cont1{
    /* Trending Spots */
    background-image: url("../images/bangui-windmills.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 50% 50%; 
  
}


.cont2{
    background-image: url("../images/hotels.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 50% 50%;
}


.cont3{
    background-image: url("../images/resorts.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 50% 50%;
}


/* Contact Form */
.contact-form{
    background-color: #2A2E30;
    color: white;
    border-radius: 10px;
    padding: 20px;
    margin-top: 20px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.5);
}
.button-property> button{
    background-color:#00C2CB ;
    color: white;
    border: none;
    font-family: 'Ubuntu', sans-serif;
    font-size: 1.2rem;
    transition: 0.4s;
}
.button-property> button:hover{
    letter-spacing: 3px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.5);
    background-color: red;

}
.contactus-header{
    background-image: url("../images/contact-us.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 50% 50%;
}

/* HOTELS */

.h-all{
    border-radius: 10px;
    height: 40vh;
    transition: 0.4s;
}
.h-all:hover{
    border-radius: 10px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.5);
    letter-spacing: -3px;
}

.hover-effect{
    
    transition: 0.4s;

}
.hover-effect:hover{
    
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.5);
    letter-spacing: -1px;
}
.hotel-tiles1{
    background-image: url("../images/hotel-amanpulo.webp");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 50% 50%;
    
   
}
.hotel-tiles2{
    background-image: url("../images/hotel-peninsula.webp");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 50% 50%;
    
}
.hotel-tiles3{
    background-image: url("../images/hotel-shangrila.webp");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 50% 50%;
   
}
.hotel-tiles4{
    background-image: url("../images/hotel-raffles.webp");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 50% 50%;
   
}
/* Resorts */
.Resort-tiles1{
    background-image: url("../images/resort-bohol-beach-club.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 50% 50%;
}
.Resort-tiles2{
    background-image: url("../images/resort-plantation-bay.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 50% 50%;
}
.Resort-tiles3{
    background-image: url("../images/resort-two-seasons.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 50% 50%;
}
.Resort-tiles4{
    background-image: url("../images/resort-minoloc.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 50% 50%;
}

/* Trending Destinations */

.trending-tiles1{
    background-image: url("../images/resort-bohol-beach-club.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 50% 50%;
}
.trending-tiles2{
    background-image: url("../images/resort-plantation-bay.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 50% 50%;
}
.trending-tiles3{
    background-image: url("../images/resort-two-seasons.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 50% 50%;
}
.trending-tiles4{
    background-image: url("../images/resort-minoloc.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 50% 50%;
}




.Container-titles{
    font-family: 'Ubuntu', sans-serif;
    font-size: 2.5em;
    text-shadow: 0px 2px 2px rgba(0, 0, 0, 0.8); 
  
    color: rgb(255, 255, 255);
    text-align: center;
}




.Container-Description{
    font-family: 'Ubuntu', sans-serif;
    font-size: 1.5em;
    text-shadow: 0px 2px 2px rgba(0, 0, 0, 0.8); 
    color: rgb(236, 124, 124);
    text-align: center;
}

.socials{
    color:rgb(221, 41, 41) !important;
    font-size: 28px;
    font-weight: 100;
    margin-right: 20px;
    text-shadow: 0px 2px 2px rgba(0, 0, 0, 10);
}


/* Blog Category */
.blogcategory-container{
    background-image: url("../images/el-nido.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 50% 50%;
    
   
}
.nav-bar{
   height:100%;
}


/* HEADER */
header {
    position: relative;
    background-color: black;
    height: 40vh;
    min-height: 25rem;
    width: 100%;
    overflow: hidden;
  }
  
  header video {
    position: absolute;
    top: 50%;
    left: 50%;
    min-width: 100%;
    min-height: 50%;
    width: auto;
    height: auto;
    z-index: 0;
    -ms-transform: translateX(-50%) translateY(-50%);
    -moz-transform: translateX(-50%) translateY(-50%);
    -webkit-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);
  }
  
  header .container {
    position: relative;
    z-index: 2;
  }
  
  header .overlay {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: black;
    opacity: 0.5;
    z-index: 1;
  }
  
  /* Media Query for devices withi coarse pointers and no hover functionality */
  
  /* This will use a fallback image instead of a video for devices that commonly do not support the HTML5 video element */
  
  @media (pointer: coarse) and (hover: none) {
    header {
      background: url('../media/trending-balabac.mp4') black no-repeat center center scroll;
    }
  
    header video {
      display: none;
    }
  }

  .img-fluid{
      width: 100%;
  }
